.elem {
    display: flex;
    position: relative;
    align-items: center;
    height: 40px;
    padding: 10px;
    background: #4A85FF;
}

.elem .title {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

.elem .desc {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    margin-left: 20px;
    font-size: 16px;
    color: white;
}

.container {
    position: absolute;
    right: 10px;
    top: auto;
    cursor: grab;
    user-select: none;
}

.container .line {
    width: 40px;
    height: 5px;
    background-color: white;
    margin: 0;
    margin-bottom: 4px;
    border-radius: 5px;
}